:root{
--primary-color: #0D3B66;
--secondary-color: #F4D35E;
--accent-color: #FAF0CA;
--completed-color: #32CD32;
--heading-font: "Momo Trust Display", sans-serif;
--text-font: "Inter", sans-serif;

}

.brand{
  display:flex; align-items:center; gap:.75rem; font-weight:900; letter-spacing:.3px;
}
.brand .logo{
  width:38px; height:38px; border-radius: 10px; color: white;
  background: conic-gradient(from 180deg, #12b886, #3cc4ff, #ffd166, #12b886);
  box-shadow: 0 8px 18px rgba(0,0,0,.35), inset 0 0 20px rgba(255,255,255,.15);}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;

    padding-left: 20px;;
}

header span {
    font-size: 1.2rem;
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding-left: 20px;
}

.hamburger{
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after {
    content: "\00D7";
    font-size: 2rem
}

.nav-list {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1px;
    text-align: center;
}

    #navMenu {
     display: none;
     flex-direction: column;
     background-color: var(--primary-color);
    }

#navMenu a {
  padding: 0.5rem;
  display: block;
  color: var(--secondary-color);
}

#navMenu a:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);


    transition: background-color 0.3s, color 0.3s;
}

#navMenu.active {
  display: flex;
}

#nav-object {
    list-style-type: none;
    border: solid 2px var(--accent-color);
    background-color: var(--primary-color);
    padding: 8px;
    font-size: medium;
    font-weight: bold;

    font-family: var(--text-font);

}

#nav-object a{
    text-decoration: none;
    color: var(--secondary-color);
}

#nav-object-sec {
    list-style-type: none;
    border: solid 2px var(--accent-color);
    background-color: var(--primary-color);
    padding: 8px;
    font-size: medium;
    font-weight: bold;

    font-family: var(--text-font);

}

#nav-object-sec a{
    text-decoration: none;
    color: var(--secondary-color);
}

#nav-object-third {
    list-style-type: none;
    border: solid 2px var(--accent-color);
    background-color: var(--primary-color);
    padding: 8px;
    font-size: medium;
    font-weight: bold;

    font-family: var(--text-font);

}

#nav-object-third a{
    text-decoration: none;
    color: var(--secondary-color);
}
h1 {
    font-family: var(--heading-font);
    padding-left: 20px;
    
}

h2 { 
    font-family: var(--text-font);
}

h1, h2 {
    color: var(--primary-color)
}

p { 
    font-family: var(--text-font);
    line-height: 1.5;
    font-size: large;
}

.grid {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

.about-me {
    background-color: var(--accent-color);
    
}

.about-me p{
    padding-left: 10px;
    padding-right: 10px;
}

.about-me h2 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 5px;
}

.student-photo {
    text-align: center;
    background-color: var(--accent-color);
    
}


.student-photo h2 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 5px;
}

section { 
    padding-bottom: 10px;
}

.web-cert-courses {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

}

.web-cert-courses p {
    padding-left: 20px;
    padding-right: 20px;
}


.web-cert-courses h2 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 5px;

}

    #certGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

        #courseSelect {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin-bottom: 20px;
    }
    #fullCourses {
        background-color: var(--primary-color);
        padding: 15px;
        text-decoration: none;
        color: var(--secondary-color);
        border-radius: 10px;
        border: none;
        font-weight: bolder;
        font-family: var(--text-font);

    }

    #wddCourses {
    
        background-color: var(--primary-color);
        padding: 15px;
        text-decoration: none;
        color: var(--secondary-color);
        border-radius: 10px;
        border: none;
        font-weight: bolder;
        font-family: var(--text-font);
    
    }
    #cseCourses {
        background-color: var(--primary-color);
        padding: 15px;
        text-decoration: none;
        color: var(--secondary-color);
        border-radius: 10px;
        border: none;
        font-weight: bolder;
        font-family: var(--text-font);
    }
    .course-card {
    background-color: var(--secondary-color);
    border-radius: 15px;

    }

footer {
    border-top: solid 1px #ddd;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}


.logos {
    margin-top: 20px;
    margin-bottom: 20px
}

    .course-card {
        background-color: var(--secondary-color);
        border-radius: 15px;

    }
    .course-card.completed {
        background-color: var(--accent-color);
        
    }